.container{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    background-color: #FAFAFA;
}
header{
    width: 95%;
    height: 110px;
    margin: 0 auto;
    /* border: 2px solid palevioletred; */
    display: flex;
    gap: 367px;
    align-items: center;
    border-radius: 0 0 30px 30px;
    background-color: #ffffff;
}
.zootopia{
    width: 212px;
    padding-left: 45px;
    /* height: 30px; */
}
/* .fa-bars{
    width: 50px;
} */
/* .fa-solid{
    width: 28px;
} */
.headeritems{
    display: flex;
    gap: 28px;

}

.fa-regular{
    padding-bottom: 16px;
}
/* .box{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
} */




                /* section1 styling starting from here*/


.section1{
    max-width: 1186px;
    width: 100%;
    margin: 0 auto;
}
.puppy{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    object-position: center;
}
.sectiontext{
    width: 339px;
    position: absolute;
    top: 200px;
    left: 550px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}
.button1{
    width: 176px;
    height: 42px;
    background-color: #ffffff;
    color: #111111;
    font-size: 12px;
    border: #ffffff;
    position: absolute;
    top: 330px;
    left: 630px;
}

h3{
    font-size: 28px;
    color: #111111;
    padding-top: 106px;
    padding-left: 90px;
    padding-bottom: 29px;
}



             /* section2 styling starts from here */



.section2{
    max-width: 1186px;
    width: 100%;
    margin: 0 auto;
    /* border: 2px solid pink; */
    display: flex;
    justify-content: space-between;
}

.cards{
    /* border: 2px solid palevioletred; */
    width: 23%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    
}

.dog{
    width: 200px;
    height: 160px;
    padding-left: 75px;
    padding-top: 31px;
    object-fit: contain;
    object-position: center;
}
h4{
    font-size: 18px;
    color: #111111;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 36px;
    padding-bottom: 30px;
}
.description{
    font-size: 12px;
    color: #111111;
    padding-left: 30px;
    padding-top: 9px;
}


.button2{
    width: 105px;
    height: 35px;
    background-color: #e7e7e7;
    border: #e7e7e7;
    
    
}
.lighterb{
    background-color: #f8f8f8;
    border: #e7e7e7;
}
.weight{
    padding-left: 30px;
    padding-top: 20px;
}


.price{
    font-size: 24px;
    color: #f5621f;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 75px;
    padding-bottom: 37px;
}

.outofstock{
    font-size: 14px;
    color: #111111;
}





            /* footer styling starting from here */



        
footer{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    background-color: #FAFAFA;
    /* border: 2px solid plum; */
    display: flex;
    gap: 800px;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}
.footerimg{
    width: 141px;
    height: 20px;
}
.footerul{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}